<!DOCTYPE html>
<html lang="en">
<head>
<!--external css not working, inline css currently applied-->
<link rel="stylesheet" href="style.css">

<style>
srch {
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-color: rgb(44, 164, 204);
  }

.buttonHolder{
    text-align: center;
}

</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
    <title>Hotel Search</title>
</head>
<body>

<form action="{{ url_for('index') }}" method="POST">
	<h1 class='form-label'>Search Hotel Locations!</h1>
        <input type="text" name="search_location"class='form-control' placeholder="Enter Location to Search"/>
        <!--wrapped search button in div to center it-->
        <div class ="buttonHolder">
            <button type="submit" id="btn_i" class='butn btn-success'>Search!</button>
        </div>

 <div class="form-text">
    <br><br>Your location must be more than 0 characters long, contain letters and numbers, and must not contain special characters, or emoji.
</div>

    <p>{{ message }}</p>

    {% if message %}
    <p>Found {{ hotels|count }} results</p>
    {% endif %}

    {% for hotel in hotels %}
    <div class='text-center'>
        <figure class="figure">
            <a href="{{ hotel['image']['link'] }}">
            <img src="{{ hotel['image']['img'] }}" class="rounded figure-img img-fluid rounded" alt="hotel image">
	    </a>
            <figcaption class="figure-caption">{{ hotel['name'] }}</figcaption>
        </figure>
    </div>
    <hr>
    {% endfor %}

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
